{% extends "base.html" %}

{% block conteudo %}
    <table style="border: 2px red solid">
        <tbody>
            {% for visitante in total_visitantes %}
            <tr style="border: 2px black solid">
                <td style="border: 2px black solid; padding: 4px">{{ visitante.nome_completo }}</td>
                <td style="border: 2px black solid; padding: 4px">{{ visitante.cpf }}</td>
                <td style="border: 2px black solid; padding: 4px">{{ visitante.horario_chegada }}</td>
                <td style="border: 2px black solid; padding: 4px">{{ visitante.horario_autorizacao }}</td>
                <td style="border: 2px black solid; padding: 4px">{{ visitante.morador_responsavel }}</td>
                <td style="border: 2px black solid; padding: 4px">
                    <a href="#">
                        Ver informações
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock conteudo %}